<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../global.css">
    <title>Consulta - Marcar Consulta</title>
</head>

<body>

    <h1>Consulta Facil</h1>
    <h2 th:text="#{consulta.create}"></h2>

    <form action="/consultas" class="container" method="POST" th:object="${consulta}">
        <div class="nes-field">
            <label for="tipoconsulta">Tipo Consulta</label>
            <input th:field="*{tipoconsulta}" class="nes-input" th:classappend="${#fields.hasErrors('tipoconsulta')} ? is-error" >
            <span class="nes-text is-error" th:errors="*{tipoconsulta}"></span>
        </div>

        <div class="nes-field">
            <label for="motivo">Motivo</label>
            <textarea th:field="*{motivo}" class="nes-textarea" th:classappend="${#fields.hasErrors('motivo')} ? is-error" ></textarea>
            <span class="nes-text is-error" th:errors="*{motivo}"></span>
        </div>

        <div class="nes-field">
            <label for="valorconsulta">Valor</label>
            <input th:field="*{valorconsulta}" type="number" class="nes-input" th:classappend="${#fields.hasErrors('valorconsulta')} ? is-error"  >
            <span class="nes-text is-error" th:errors="*{valorconsulta}"></span>
        </div>

        <a class="nes-btn" href="/consultas">cancelar</a>
        <input type="submit" class="nes-btn is-primary" value="cadastrar">
    </form>

</body>

</html>
