<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="global.css">
>
    <title>Consulta Fácil - Consultas</title>
</head>
<body>
    <h1>Consulta Fácil</h1>

    <h2>Consultas Agendadas</h2>

    <section class="grid">  
        <div th:each="consulta : ${consultas}" class="container">
            <div class="notification is-primary">
                <p th:text="${consulta}"></p>
                <p>This container is <strong>centered</strong> on desktop and larger viewports.</p>
            </div>
        </div>
    </section>

    <ul>
        <li th:each="consulta : ${consultas}" th:text="${consulta}"></li>
    </ul>

    

    <!--<p th:text="${consultas}"></p>-->
    
</body>
</html>